
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{  margin: 0; 
  height: 100vh;
  background-image: url('../src/assets/sports-stadium.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(247, 215, 168);
}